table {
  border: solid;
  width: 50%;

}
h1 {
  color: blue
}

p {
  color: red;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px
}

input[type=text] {
  border-radius: 5px;

}

#evyield {
  border-radius: 5px;
}
